# Setting to keep gcloud from uploading non required files for deployment

app.yaml
README.md
.gitignore
.git
test/**
log/**
.editorconfig
.vscode
swagger.yaml
.travis.yml
public/swagger-ui/**
public/swagger.yaml